.check-flux-button.txt
.env
.env.backup
.env.production
.history/
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/app/private/dev/
/storage/pail
/vendor
/tools/phpdoc/phpDocumentor.phar
/.phpdoc/cache/
/docs/phpdoc
/public/docs/phpdoc
/storage/audits/
/database/dumps/
/database/results/
/.console-ausgabe.txt
/check.txt
/git.diff.txt
/tinker-result.txt
/.tinkerun/
/📦tree-*
*.blade copy.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
storage/reports/
